.card{
    color: #fff;
    background-color: #6c757d;
    border: #6c757d;
    text-align: left;
}

.Important{
    color: #fff;
    background-color: #891a1a;
    border: #f79494;
    text-align: left;
}

.SignIn{
    color: #fff;
    background-color: #1b476e;
    border: #6c757d;
    text-align: left;
}
.signInSchWork {
    color: #fff;
    background-color: #275b88;
    border: #677b8d;
    text-align: left;
}

.signInPersonal {
    color: #fff;
    background-color: #275b88;
    border: #677b8d;
    text-align: left;
}

/* Find Out More Page */
.findOutMore {
    color: #fff;
    background-color: #8164ce;
    border: #35168a;
    text-align: left;
}