.card{
    color: #fff;
    background-color: #6c757d;
    border: #6c757d;
    text-align: left;
} 

.card Important{
    color: #fff;
    background-color: #17a2b8;
    border: #677b8d;
    text-align: left;
} 